// CREDIT: used the following video to learn how to install and customize bootstrap: https://www.youtube.com/watch?v=WPAiTlQr7no

// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #8FA5B3;
$secondary: #8fB3AF;

@import "../../node_modules/bootstrap/scss/bootstrap";

// ------------------Re usable styles
.margin-center {
    margin: 0 auto;
}

// ------------------Styles for the whole page
body {
    font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Alegreya Sans", sans-serif;
}

// ------------------Header
.logo {
    margin: 5px;
    height: 100px;
}

h1 {
    font-size: 50px;
}

//position logo on top of title on smaller screens to avoid overlap
@media only screen and (max-width: 580px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

// position logo on left of header on larger screens
@media only screen and (min-width: 581px) {
    header {
        position: relative;
    }

    .logo-holder {
        position: absolute;
    }
}

// ------------------Starting Section
fieldset {
    max-width: 300px;
}

input[type=text] {
    width: 200px;
    padding: 5px;
    box-sizing: border-box;
}

label {
    display: block;
}

#start-assessment:hover {
    border-width: 3px;
    border-color: white;
}

.btn:hover {
    opacity: 0.7;
}

// Used chrome dev tools to find the exactly selector for the form buttons to change the colour to provide better contrast
.btn-check:checked+.btn,
:not(.btn-check)+.btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
    background-color: #485963;
}

// ------------------Question and answer section
.question-content {
    min-height: 300px;
}

.question-content img {
    max-height: 250px;
    max-width: 70vw;
}

// styling for equations
@media only screen and (min-width: 401px) {
    math {
        font-size: xx-large;
        max-width: 70vw;
    }
}

@media only screen and (max-width: 400px) {
    math {
        font-size: large;
    }
}

// ------------------Results sections
#results-wrapper h2 {
    margin-top: 20px;
}

//table styling 
table,
th,
td {
    border-style: solid;
    border-width: 2px;
    padding: 10px;
}

table {
    width: 100%;
}

th {
    width: 70%;
}

td {
    width: 30%;
}

//Email section
#email-form-section {
    background-color: rgba(143, 165, 179, 0.5);
}

.spinner-grow {
    margin: 0 auto;
}

// ------------------Error page
#body-404 { 
    background-image: url(../images/error-background.jpg);
    background-size: cover;
    background-position: right;
}

#error-btn  {
    width:max-content;
}
