// CREDIT: used the following video to learn how to install and customize bootstrap: https://www.youtube.com/watch?v=WPAiTlQr7no

// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #8FA5B3;
$secondary: #8fB3AF;

@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

input[type=text] {
    width: 200px;
    padding: 5px;
    /* This includes the padding and border in the total size of the box */
    box-sizing: border-box;
}

input[type=textarea] {
    max-width: 768px;
    height: 200px;
    padding: 5px;
    margin: 8px;
}

.form-wrapper {
    padding: 30px;
    max-width: 768px;
    margin: auto 0;
    box-shadow: 0 0 10px;
}

.form-button {
    width: 236px;
    margin: 0 auto;
    border-radius: 15px;
    border:rgb(7, 116, 116);
}

label {
    display: block;
}

// Used chrome dev tools to find the exactly selector for the form buttons to change the colour to provide better contrast
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
    background-color: #485963;
}

.question-content {
    height: 200px;
}
.content-wrapper {
    height: auto;
}

math {
    font-size: xx-large;
}